<html>
    <head>
        {% if title %}
        <title>{{ title }} - Flasker</title>
        {% else %}
        <title>Welcome to Flakser</title>
        {% endif %}
    </head>
    <body>
        <div>Flasker: 
            <a href="/index">Home</a>
            <a href="/login">Log In</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
        <!-- {% for post in posts %}
            <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
            {% endfor %} -->
    </body>
</html>